.homeContainer {
  padding: 10px;

  & div:first-child {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }

  & div:last-child {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 6px;

    & button {
      background-color: rgb(38, 27, 196);
      align-self: flex-start;
      padding: 10px 20px;
      border-radius: 5px;
    }
  }
}
